@if(formGroup!=null) {
    <div class="flex justify-center p-5">
   <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Edit Todo</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="formGroup"(ngSubmit)="onSubmit(todo)">
                <!--Title-->
                <div>
                    <mat-form-field class="w-60">
                        <mat-label>Title</mat-label>
                        <input matInput formControlName="title">
                    </mat-form-field>
                </div>
                <!--Priority-->
                <div id="priority-container">
                  <mat-form-field class="w-60">
                    <mat-label>Priorité</mat-label>
                  <!--<mat-select formControlName="priority">
                    @for(item of listPriority; track value)-->
                        <mat-select formControlName="priority">
                           <mat-option value="1">1</mat-option>
                           <mat-option value="2">2</mat-option>
                           <mat-option value="3">3</mat-option>
                       </mat-select>
                   </mat-form-field>
                </div>
                <!--Date-->
               <mat-form-field class="w-60">
                 <mat-label>Choose a date</mat-label>
                 <input matInput [matDatepicker]="picker" formControlName="dueDate">
                 <mat-hint>MM/DD/YYYY</mat-hint>
                 <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                 <mat-datepicker #picker></mat-datepicker>
               </mat-form-field>

                <!--Checkbox-->
                <div id="Completed-container">
                         <section class="my-3 mx-0">
                             <mat-checkbox [checked]="todo.completed" class="m-0" formControlName="completed">Completed</mat-checkbox>
                         </section>
                  </div>
                <!--textarea-->
                
                 <mat-form-field class="w-60">
                          <mat-label>Leave a comment</mat-label>
                                     <textarea matInput formControlName="description" placeholder="Laisse un message"></textarea>
                          </mat-form-field>


                <!--Button-->
                 <div class="flex space-x-3">
                      <button mat-raised-button color="primary" type="submit">Save</button>
                      <button mat-raised-button color="primary" type="button" (click)="Oncancel()">Cancel</button>
                 </div>

            </form>
        </mat-card-content>
    </mat-card>
    </div>
 
}

   

